{% extends 'base.html.twig' %}

{% block title %}New SmsMessage{% endblock %}

{% block body %}
    <h1>Create new SmsMessage</h1>

    {{ include('sms_message/_form.html.twig') }}

    <a href="{{ path('app_sms_message_index') }}">back to list</a>
{% endblock %}
