{% extends 'base.html.twig' %}

{% block title %}Письмо с подтверждением отправлено вам на почту.{% endblock %}

{% block body %}

<div class="container text-center m-3 p-3">
	<div class="alert alert-success" role="alert">
		Письмо с подтверждением отправлено вам на почту.
		Пожалуйста проверьте почтовый ящик и перейдите по ссылке в письме.
	</div>
</div>

{% endblock %}