<!DOCTYPE html>
<html lang="en">
<head>
    <title>Оплата прошла успешно</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            overflow:hidden;
            background-color: #f4f6ff;
        }
        h1 {
            color:#142833;
        }
        .container {
            width:100vw;
            height:100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Poppins", sans-serif;
            position: relative;
            text-align: center;
        }
        .go-to-orders-list {
            font-family: "Montserrat", sans-serif;
            position: absolute;
            bottom:12vmin;
            padding:3vmin 3vmin 3vmin 3vmin;
            font-weight:600;
            color:#092532;
        }
    </style>
</head>
    <body>
        <div class="container">
            <h1>Оплата прошла успешно</h1>
            <p class="go-to-orders-list"><a href="/profile/orders/">Перейти в список заказов</a></p>
        </div>
    </body>
</html>